.Contact {
    width: 100%;
    margin: 10px 30px;
    border-radius: 20px;
    padding: 20px;
    color: antiquewhite;

}
.Contact form{
    width: 70%;
    margin:  auto ;
    justify-content: center;
    align-items: center;
    animation: slowOpen linear;
    animation-timeline: view();
    animation-range: entry 0% cover  30%;
}
.Contact form #submit{
    margin: 20px;
}
.Contact form label{
    margin-top: 10px;
}
.Contact h1{
    font-weight: bold;
    font-size:xx-large;
    padding-bottom: 30px;
    color:  #6A0DAD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: slowOpen linear;
    animation-timeline: view();
    animation-range: entry 0% cover  20%;
}
.Contact input,.Contact textarea{
    background-color: #1f1f1f;
    border: 2px solid #6A0DAD;
    outline: none;
}
.Contact form button{
    margin-top: 10px;
}