.Header{
    box-shadow: 0px 5px 10px #6A0DAD;
    backdrop-filter:rgba(255, 255, 255, 0.123);
    background:rgba(0, 0, 0, 0.308);
    height: 100%;
    display: flex;
    padding: 0 20px;
    position: sticky;
    z-index: 100;
    backdrop-filter: blur(10px);
}
.Header .d1{
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    min-width: 170px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #6A0DAD;
    font-weight: bolder;
}
.Header .d2{
    width: 25%;
}
.Header .d3{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.Header .d4{
    width: 25%;
    display: flex;
    justify-content: flex-end;


}
.Header .Header-logo{
    height: 50px;
}

