.Skills {
  text-align: center;
  padding: 40px;
}

.Skills h2 {
  color: #6a0dad;
  font-size: 2rem;
  font-weight: 700;
}

.infoSkills {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container global */
.circleWrapper {
  position: relative;
  width: 400px;
  height: 400px;
  
  display: flex;           /* ❤️ technique PRO */
  justify-content: center;
  align-items: center;

}

/* Photo ronde */
.profileWrapper {
  width: 300px;            /* taille de l'image (tu peux changer) */
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 12px #6a0dad;

  display: flex;           /* ❤️ technique PRO */
  justify-content: center;
  align-items: center;

  margin: auto;         /* centre horizontalement */
  position: relative;     
}

.profileWrapper img {
  height: 100%;
  object-fit: cover;       /* rempli le cercle proprement */
}


/* Cercle des icônes */
.iconsCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 360px;
  transform: translate(-50%, -50%);
  animation: rotateCircle 24s linear infinite;
  
}

/* Rotation */
@keyframes rotateCircle {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to   { transform: translate(-50%, -50%) rotate(360deg); }
}

/* Chaque icône */
.iconContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
}

.icon {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
  background: white;
  border: 2px solid #6a0dad;
  transition: 0.3s;
}

.icon:hover {
  background-color: #6a0dad20;
  box-shadow: 0 0 12px #6a0dad;
}
