.Intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1f1f1f;
}

.Intro .logo {
  position: absolute;
}

.Intro .logoInit path {
  fill: transparent;
  stroke: #6A0DAD;
  stroke-dasharray: 320;
  stroke-dashoffset: 320;
  animation: logoAnimation 2.5s ease-in-out forwards;
}

@keyframes logoAnimation {
  0% {
    stroke-dashoffset: 320;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
